

@media (max-width:340px) {
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .subscribe-us-area .subscribe .subscribe-titel,
    .subscribe-us-area .subscribe .subscribe-titel p,h4,
    .services-area,
    .subscribe-us-area .subscribe
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-titel h1{
        font-size: 42px;
    }
}