@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('./partials/__variables.css');
@import url('./partials/_glob.css');
body{
    font-family: 'Roboto', sans-serif!important;
}

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 10rem 0 2rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 15rem;
}

.header_area .main-menu .nav-item .nav-link{
    font-weight: 500;
    color: var(--title-color);
    padding: 1.7rem;
    text-transform: uppercase;
}
.header_area .main-menu .navbar-nav .active {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

/* end of heading */

/* banner area */
.site-main .site-banner{
    padding: 0;
}
.site-main .site-banner .container{
    padding: 1rem 5rem;
}
.site-main .site-banner .site-titel{
    padding-left: 10rem;
}
.site-main .site-banner .site-titel h3{
    padding: 25% 0% 0;
    font-weight: 500;
} 

.site-main .site-banner .site-titel h3::after{
    content: "";
    background-color: #000;
    height: 2px;
    width: 15vw;
    display: inline-block;
    transform: translateY(-10px);
    margin-left: 5%;
}
.site-main .site-banner .site-titel h1{
    font-size: 5rem;

}
.site-main .site-banner .site-titel h4{
    font-size: 1.5rem;
}
.site-main .site-banner .banner-image > img{
    /* padding: 2rem 0; */
    width: 30rem;
}

/* end of banner area */

/* starting the about area */
.site-main .about-area{
    padding: 8rem 5rem;
}
.site-main .about-area .about-image{
    padding: 0 8rem;
}
.site-main .about-area .about-titel{
    padding: 0 5rem;
}
.site-main .about-area .about-titel h2 > span{
    display: block;
    font-weight: bold;
    letter-spacing: 21px;
}

/* end of about */